@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes desappear {
  from {
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes bounce-x {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-8px);
  }
 50% {
    transform: translateX(8px);
  }
}

.appear-animation {
  animation: appear 800ms ease both;
}

.appear-animation-fast {
  animation: appear 200ms ease both;
}

.desappear-animation {
  animation: desappear 500ms ease both;
}


.bounce-x-animation {
  animation: bounce-x 800ms ease infinite;
}