@import "tailwindcss";

:root {
  --white-color: #F9FAFB;
  --black-color: #2C2C2C;
  --primary-color: #032A49;
  --secondary-color: #E9D07F;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.bg-color-black {
  background-color: var(--black-color);
}

.bg-color-primary {
  background-color: var(--primary-color);
}

.bg-color-secondary {
  background-color: var(--secondary-color);
}

.text-color-white {
  color: var(--white-color);
}

.text-color-secondary {
  color: var(--secondary-color);
}