@import 'tailwindcss';

:root {
  --white-color: #f9fafb;
  --black-color: #2c2c2c;
  --primary-color: #032a49;
  --primary-color-light: #0475d1;
  --secondary-color: #e9d07f;
  --bright-yellow-shadow: 0 0 10px 5px #e9d07f8f;
  --blue-gradient: linear-gradient(90deg,rgba(7, 93, 163, 1) 16%, rgba(1, 71, 128, 1) 55%, rgba(3, 42, 73, 1) 84%);;
}

input {
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-color-black {
  background-color: var(--black-color);
}

.bg-color-white {
  background-color: var(--white-color);
}

.bg-color-primary {
  background-color: var(--primary-color);
}

.bg-color-primary-light {
  background-color: var(--primary-color-light);
}

.bg-color-secondary {
  background-color: var(--secondary-color);
}

.text-color-white {
  color: var(--white-color);
}

.text-color-secondary {
  color: var(--secondary-color);
}

.border-color-secondary {
  border-color:  var(--secondary-color);
}

.border-color-primary-light {
  border-color: var(--primary-color-light);
}

/* Chrome... */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

.navbar-menu.active {
  height: 256px;
}