@import "tailwindcss";

:root {
  --white-color: #F9FAFB;
  ---black-color: #2C2C2C;
  --primary-color: #032A49;
  --secondary-color: #E9D07F;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.bg-black {
  background-color: var(---black-color);
}

.bg-primary {
  background-color: var(--primary-color);
}