@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes bounce-x {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-8px);
  }
 50% {
    transform: translateX(8px);
  }
}

.fade-in-animation {
  animation: fade-in 800ms ease both;
}

.fade-in-animation-fast {
  animation: fade-in 200ms ease both;
}

.fade-out-animation {
  animation: fade-out 500ms ease both;
}

.fade-out-animation-fast {
  animation: fade-out 200ms ease both;
}

.bounce-x-animation {
  animation: bounce-x 800ms ease infinite;
}