@import 'tailwindcss';

:root {
  --white-color: #f9fafb;
  --black-color: #2c2c2c;
  --black-color-dark: #1d1c1c;
  --primary-color: #032a49;
  --primary-color-light: #0475d1;
  --secondary-color: #e9d07f;
  --bright-yellow-shadow: 0 0 10px 5px #e9d07f8f;
  --color-green: #08ee3a;
  --color-red: #ee2308;
  --blue-gradient: linear-gradient(
    90deg,
    rgba(4, 117, 209, 1) 6%,
    rgba(3, 96, 171, 1) 34%,
    rgba(0, 76, 138, 1) 80%
  );

  --font-xs: 0.875rem; /* 14px */
  --font-sm: 1rem; /* 16px */
  --font-md: 1.25rem; /* 20px */
  --font-lg: 1.5rem; /* 24px */
  --font-xl: 2rem; /* 32px */
}

input,
textarea {
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-sm);
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-lg);
}

h3 {
  font-size: var(--font-md);
}

.large-text {
  font-size: var(--font-lg);
}

.small-text {
  font-size: var(--font-xs);
}

.bg-color-black {
  background-color: var(--black-color);
}

.bg-color-black-dark {
  background-color: var(--black-color-dark);
}

.bg-color-white {
  background-color: var(--white-color);
}

.bg-color-primary {
  background-color: var(--primary-color);
}

.bg-color-primary-light {
  background-color: var(--primary-color-light);
}

.bg-color-secondary {
  background-color: var(--secondary-color);
}

.bg-load-up-secondary {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 0, 0),
    var(--secondary-color),
    var(--secondary-color)
  );
  background-size: 100% 200%;
}

.text-color-white {
  color: var(--white-color);
}

.text-color-black {
  color: var(--black-color);
}

.text-color-green {
  color: var(--color-green);
}

.text-color-red {
  color: var(--color-red);
}

.text-color-secondary {
  color: var(--secondary-color);
}

.border-color-secondary {
  border-color: var(--secondary-color);
}

.border-color-primary-light {
  border-color: var(--primary-color-light);
}

/*Shadows*/
.inner-shadow-soft-white {
  box-shadow: inset -1px -1px 8px -1px rgba(255, 255, 255, 0.61);
}

.inner-shadow-soft-primary {
  box-shadow: inset -1px -1px 10px 1px var(--primary-color-light);
}

/* Chrome... */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

.table > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 72px;
  gap: 0 32px;
  align-items: center;
  word-break: break-all;
  border-bottom: 1px solid rgba(94, 93, 93, 0.342);
  height: 72px;
}

.table > .header {
  font-weight: bold;
}

@media (min-width: 768px) {
  .table > div {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 72px;
    gap: 0 32px;
    align-items: center;
    word-break: break-all;
    border-bottom: 1px solid rgba(94, 93, 93, 0.342);
    height: 72px;
  }
}
